# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/


# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Logs
*.log

# Model files
*.joblib
*.h5
*.pkl
